{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for i in categories %}
	<div class="col-md-2 card text-center" style="padding: 0; margin-bottom: 24px; text-align: center;">
		<img src="{{ i['image']}}" id="cat{{ ''.join(i['name'].split()) }}" style="max-width: 200px; max-height:160px; text-align: center;">
		<span style="height: 32px;"></span>
		<a href="/search?s={{ i['name'] }}">{{ i['name']}}</a>
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
	var temph;
	var mul;
	{% for i in categories %}
	temph = document.getElementById("cat{{''.join(i['name'].split())}}").height;
	mul = 200.0/temph;
	document.getElementById("cat{{''.join(i['name'].split())}}").height = temph*mul;
	document.getElementById("cat{{''.join(i['name'].split())}}").width *= mul; 
	{% endfor %}
</script>

{% endblock %}