{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<br>&nbsp;<br>&nbsp;<br>
		<h2>Change Password</h2>
		
		<span class="text-danger"> {% if msgs %} {{msgs}} {% endif %} </span>
		
		<form class="md-form" action="./change?email={{email}}&h={{h}}" method="post" id="login" onsubmit="return validate()">
			<input type="password" class="form-control" placeholder="New Password" id='p1' required>
			<input type="password" name="password" class="form-control" placeholder="Confirm Password" required id='p2'>
			<button type="submit" class="btn btn-success" style="float: right;">Change</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	function validate() {
		var check = $("#p1").val();
		if(check.length < 6) {
			$(".text-danger").html("Password must be at least 6 characters long.");
			return false
		}
		else if($("#p1").val() != $("#p2").val()) {
			$(".text-danger").html("<br>Passwords do not match");
			return false;
		}
		else {
			var uppercase = "AZ";
			var lowercase = "az";
			var numerals = "09";
			var u = false;
			var l = false;
			var n = false;
			for(i=0; i<check.length; i++) {
				if(check.charCodeAt(i) >= uppercase.charCodeAt(0) && check.charCodeAt(i) <= uppercase.charCodeAt(0)) {
					u = true;
				}
				if(check.charCodeAt(i) >= lowercase.charCodeAt(0) && check.charCodeAt(i) <= lowercase.charCodeAt(0)) {
					l = true;
				}
				if(check.charCodeAt(i) >= uppercase.charCodeAt(0) && check.charCodeAt(i) <= numerals.charCodeAt(0)) {
					n = true;
				}
			}
			$(".text-danger").html("The password must contain atleast one uppercase, one lowercase, and one numeral");
			return u && l && n;
		}

		return true;
	}
</script>

{% endblock %}