{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<br>&nbsp;<br>&nbsp;<br>
		<h2>Change Password</h2>
		
		<span class="text-danger"> {% if msgs %} {{msgs}} {% endif %} </span>
		
		<form class="md-form" action="./change?email={{email}}&h={{h}}" method="post" id="login" onsubmit="return validate()">
			<input type="password" class="form-control" placeholder="New Password" id='p1' required>
			<input type="password" name="password" class="form-control" placeholder="Confirm Password" required id='p2'>
			<button type="submit" class="btn btn-success" style="float: right;">Change</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	function validate() {
		if($("#p1").val() != $("#p2").val()) {
			return false;
			$(".text-danger").html($(".text-danger").html() + "<br>Passwords do not match");
		}

		return true;
	}
</script>

{% endblock %}